html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: url("https//source.unsplash.com/nDqA4d5NL0k/2000x2000");
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
a {
  color: #ffc600;
  text-decoration: none;
}

.bands {
  list-style: inside square;
  font-size: 2rem;
  background: white;
  width: 50rem;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 2rem rgba(0, 0, 0, 0.05);
}

.bands li {
  border-bottom: 0.1rem solid #efefef;
  padding: 2rem;
}

.bands li:last-child {
  border-bottom: 0;
}
