html {
  box-sizing: border-box;
  background: ulr("http://wes.io/hx9M/oh-la-la.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 50%;
  width: 20rem;
  margin-bottom: 5rem;
}
